---
layout: page
title: Archive
subtitle: by date
permalink: /archive/
---

<section id="archive">
    <a name="{{ site.time | date: '%Y' }}" class="jump"><h3>{{ site.time | date: '%Y' }}<a href="#{{ site.time | date: '%Y' }}"><i class="fa fa-link"></i></a></h3></a>
    {%for post in site.posts %}
    {% unless post.next %}
    <ul class="thisYear" style="list-style-type: none;">
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }} {% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }} {% endcapture %}
    {% if year != nyear %}
    </ul>
    <a name="{{ site.time | date: '%Y' }}" class="jump"><h3>{{ post.date | date: '%Y' }} ({{ site.posts | size}})<a href="#{{ post.date | date: '%Y' }}"><i class="fa fa-link"></i></a></h3></a>
    <ul class="past" style="list-style-type: none;">
    {% endif %}

    {% endunless %}
                    {% comment %} What actually appears {% endcomment%}
      <li><time>{{ post.date | date:"%-d %B" }} » </time><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
</section>
