---
layout: page
title: Archive
subtitle: by category
permalink: /archive/categories/
---
<section id="archive">
  {% for category in site.categories %}
    {% capture postsNumber %}
      {% assign number = site.posts.size%}
      {% if number == 1 %}
        ({{ category[1] | size}} post)
      {% else %}
        ({{ category[1] | size}} posts)
      {% endif %}
    {% endcapture%}

    <a name="{{ category | first | downcase}}" class="jump">
      <h3></a>{{ category | first | capitalize}} {{ postsNumber | escape }}<a href="#{{ category | first | downcase}}"><i class="fa fa-link"></i></a></h3>
    </a>
    <ul style="list-style-type: none;">
      {% assign posts = category[1] %}
      {% for post in posts %}
            <li><time>{{ post.date | date:"%-d %B %Y" }} » </time><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
</section>
