.inactiveLink {
   pointer-events: none;
   cursor: default;
}
.jump:hover {
  text-decoration: none; /* no underline */
}
.pageSubtitle {
  font-size: 75%;
  font-weight: 400;
  color: #c0c0c0;
  letter-spacing: 0;
}
