.inactiveLink {
   pointer-events: none;
   cursor: default;
}
.jump:hover {
  color: inherit;
  text-decoration: none;
}
.jump {
  color: inherit;
}
.pageSubtitle {
  font-size: 75%;
  font-weight: 400;
  color: #c0c0c0;
  letter-spacing: 0;
}

#archive time {
  color: LightGray;
}

#archive h3 .fa-link {
  opacity: 0;
  color: Gray;
  margin-left: .5em;
}

#archive h3:hover .fa-link{
  opacity: 1;
  color: Gray;
  margin-left: .5em;
}

.sidebar .social-icons a {
  color: White;
  opacity: .5;
  padding-right: 0.75em;
}

.sidebar .social-icons a:hover {
  text-decoration: none;
}

.post-tags {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
  text-align: center;
}

.post-date .fa-clock{
  
}
