<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" {% if page.title == "Home" %}checked{% endif %}>

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

	<nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with the sidebar.yml file.
    {% endcomment %}

    {% assign pages_list = site.data.sidebar %}
    {% for pagex in pages_list %}
      {% if pagex.title != null %}
          <a class="sidebar-nav-item{% if page.url == pagex.url %} active{% endif %}" href="{{ site.baseurl }}{{ pagex.url }}">{{ pagex.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>
  <div class="sidebar-item">
    <p class="social-icons">
      <a href="https://www.github.com/{{ site.author.github }}" title="GitHub"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://twitter.com/@{{ site.author.twitter }}" title="Twitter"><i class="fa fa-twitter fa-2x"></i></a>
      <!--<a href="https://www.linkedin.com/in/site.author.linkedin"><i class="fa fa-linkedin fa-2x"></i></a>-->
      <a href="https://plus.google.com/u/0/+{{ site.author.googleplus }}" title="Google+"><i class="fa fa-google-plus fa-2x"></i></a>
      <a href="/rss/" title="RSS"><i class="fa fa-rss fa-2x"></i></a>
    </p>
    <p>{% include license.html %}</p>
  </div>
</div>
