<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description" content="">
    <meta name="author" content="JFRN">
		<!--link rel="icon" href="res/favicon.ico"-->
		<title>{{ page.title }}</title>
		<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="../css/default.css" rel="stylesheet" type="text/css">
		<script href="../js/jquery-2.2.2.min.js"></script>
	</head>

	<body>
			<div class="container">
				<div class="header clearfix">
					<nav>
			    		<ul class="nav nav-pills pull-right">
				        		<li role="presentation" id="navHome"><a href="/">Home</a></li>
					        	<li role="presentation" id="navAbout"><a href="/about">About</a></li>
				        		<li role="presentation" id="navBlog"><a href="/blog">Blog</a></li>
			    		</ul>
					</nav>
					<h3 class="text-muted"><strong>José Rada</strong></h3>
				</div><!-- /.header -->
			</div><!-- /.container -->


			<div class="container">
				{{ content }}
			</div><!-- /.container -->


			<div class="container">
				<footer class="footer">
					<strong class="pull-right">&copy; {{ site.time | date: "%Y" }} All rights reserved</strong>
				</footer>
			</div>
	</body>
</html>
